h2{
    margin: 0px;
}
h3{
    margin: 0px;
}

#main-section {
    border: 5px dashed red;
    display:flex;
    padding:15px;
    width:90vw;     
    min-height: 750px;    
}

.card{
    border-style: solid;
    border-color: var(--tertiary-color);    
    margin: 25px;
    display: flex;
    flex-direction: column;

}

#question-header{
    border: white dashed 3px;
}
#question-header h3{
    margin: 0px;
}

#questionbox{
    flex: 3;
}

#aside{
    display: flex;
    flex-direction: column;
    flex: 2;
}

#timercard{
    height: 150px;
    flex: 2;
}

#scoreboard{
    height: auto;
    flex: 3;
}



.card-header{
    display: flex;
    border-style: solid;
    position: relative;
    top: -30px;
    margin: 10px 10px;
    justify-content: space-around;
    border-radius: 6px;
    align-items: center;
    height: 45px;
}

.card-section{    
    border: red dashed 5px;
    margin: 25px;
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.card-section div{  
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;      
}

.card-section h3{
    margin-top: 25px;
}

main{
    display: flex;
    justify-content: center;
}

*{
    background-color: slategray;
}

h2{
    margin: 0px;
}
h3{
    margin: 0px;
}

button{
    height: 75px;
    width: 240px;
}

#button-div{
    display: flex;
    justify-content: center;
    margin: 20px;
}